@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
:root {
    --header : #152f48;
    --btn : #18bc9c ;
    --btn-hover : #128f76;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans Arabic", sans-serif;
}
.body {
    background-color: #e1e8ea;
    padding: 50px 200px;
}
/* Start Header  */
header {
    padding: 0 0 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header);
    img {
        max-width: 100%;
    }
    ul {
        display: flex;
        list-style: none;
        gap: 20px;
        a {
            text-decoration: none;
            color: #fff;
            transition: .3s;
            &:hover,
            &.active {
                color: var(--btn);
            }
        }
    }
    p {
        color: #fff;
    }

}
/* End Header  */
section.btns {
    background-color: #fff;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        background-color: var(--btn);
        padding: 10px 30px;
        cursor: pointer;
        border: none;
        color: #fff;
        border-radius: 6px;
        font-size: 20px;
        transition: .3s;
        &:hover,
        &.active {
            background-color: var(--btn-hover);
        }
    }
}
section.content {
    border: 1px solid #3498db;
    border-radius: 6px;
    h2 {
        background-color: #3498db;
        width: 100%;
        color: #fff;
        padding: 20px;
        text-align: center;
    }
    .boxes {
        background-color: #fff;
        padding: 10px 30px;
        .box {
            display: flex;
            gap: 40px;
            padding: 20px 0;
            button {
                background: var(--btn);
                border: none;
                border-radius: 6px;
                padding: 15px;
                font-size: 2em;
                color: #fff;
                font-weight: bold;
                cursor: pointer;
                transition: .3s;
                &:hover {
                    background-color: #e74c3c;
                }
                &.end {
                    background-color: #3498db;
                }    
            }

            .text {
                font-weight: bold;
                span.start {
                    color: #ff8000;
                    font-size: 20px;
                }
                p {
                    color: #333;
                    margin: 20px 0;
                    font-size: 22px;
                }
                span.benifit {
                    color: var(--btn);
                    font-size: 18px;
                }
            }
            &:not(:last-child) {
                border-bottom: 1px solid #eee;
            }
        }
    }
}






@media (max-width:767px) {
    .body {
        padding: 10px 20px;
    }
    header {
        padding: 20px 10px;
        flex-direction: column;
        gap: 15px;
    }
    section.content
    .boxes {
        padding: 10px;
    } 
    section.content
    .boxes .box{
        align-items: center;
        gap: 20px;
    }
}
